<div id="form">
 <h1>施設情報</h1>
</div>

<div id="datas"> 

<table>
  <thead>
    <tr>
      <th><%= Facility.human_attribute_name("name") %></th>
      <th><%= Facility.human_attribute_name("address") %></th>
      <th><%= Facility.human_attribute_name("tel_no") %></th>
      <th><%= Facility.human_attribute_name("ostomate_toilet") %></th>
      <th><%= Facility.human_attribute_name("ccheer_toilet") %></th>
      <th><%= Facility.human_attribute_name("cbet_toilet") %></th>
      <th><%= Facility.human_attribute_name("wchair_lift") %></th>
      <th><%= Facility.human_attribute_name("wchair_escalator") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.name %></td>
        <td><%= facility.address %></td>
        <td><%= facility.tel_no %></td>
        <td><%= facility.ostomate_toilet %></td>
        <td><%= facility.ccheer_toilet %></td>
        <td><%= facility.cbet_toilet %></td>
        <td><%= facility.wchair_lift %></td>
        <td><%= facility.wchair_escalator %></td>
        <td><%= link_to 'Show', facility %></td>
        <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
        <td><%= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Facility', new_facility_path %>
